@model ShareImmediate.ViewModels.PayVM
@{
    ViewBag.Message = Model.Message;
}


<script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-multiselect.css" />

@using (Html.BeginForm())
{
    <div class = "container" >
        <div class = "row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="margin: 30px;background-color: #ffffff;border: 1px solid black;opacity: 0.6;padding:10px;border-radius: 15px;">
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.AvailableUsers, htmlAttributes: new { @class = "control-label col-md-6" })
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(x => x.SelectedUser, new MultiSelectList(Model.AvailableUsers, "id", "name", Model.SelectedUser), new { @class = "multiselect", multiple = "multiple" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.PayAmount, new { @class = "col-md-6 control-label" })
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.PayAmount, new { @class = "form-control col-md-6" })
                    </div>
                </div>
                <div class="row" style="margin:10px">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <input type="submit" value="Pay Now" />
                    </div>
                </div>
             </div>
             <div class="col-md-4"></div>
         </div>
    </div>
}



<script>

    $(document).ready(function () {
        $("#SelectedUser").multiselect(
        {
            includeSelectAllOption: true,
            disableIfEmpty: true,
            maxHeight: 300,
            nonSelectedText: 'All Selected',
            selectAllText: 'Select All!',
            selectAllValue: 0,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            checkboxName: 'SelectedUser[]'
        });
    });

</script>


